* {
    margin: 0;
}


/*======== NAV ==========
=========================
========= LOGO ==========
=========================
=======================*/

#logo {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@keyframes logo_anim {
    from {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    to {
        -ms-transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

#logo:hover {
    animation-name: logo_anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

article {
    border: 1px solid black;
    width: 100%;
    max-width: 1000px;
    margin-top: 1em;
}

article h2 {
    text-decoration: underline;
    margin-bottom: 0.7em;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7em;
    background-color: lightgreen;
}

header img {
    height: 2.5em;
}

header>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 3em;
}

header>ul>li {
    margin: 0 10%;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: calc(100vh - 5em);
    padding-top: 7em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: lightseagreen;
}

form input {
    width: 80%;
}

header>form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 20%;
    margin: 0;
    background-color: lightseagreen;
}

main>article {
    width: 100%;
    max-width: 1000px;
    background: lightcoral;
}

main>article>h2 {
    border: 1px solid black;
    width: 100%;
}

.text_error {
    color: red;
}